type cust_blkdev, dev_type,file_type;
type userdata_blkdev, dev_type,file_type;
type oeminfo_blkdev, dev_type,file_type;
type cache_blkdev, dev_type,file_type;
type splash2_blkdev, dev_type,file_type;
type zram0_blkdev, dev_type,file_type;
type secure_storage_blkdev, dev_type,file_type;
