allow init socket_device:sock_file create_file_perms;
allow init tmpfs:lnk_file rw_file_perms;
allow init block_device:blk_file rw_file_perms;
allow init pstorefs:dir { mounton };
allow init system_data_file:dir { mounton };
allow init socket_device:sock_file rw_file_perms;
allow init block_device:lnk_file { setattr };
allow init block_device:blk_file { setattr };
allow init tmpfs:lnk_file create_file_perms;
allow init debugfs:dir rw_file_perms;
allow init system_data_file: file { append };
allow init init:netlink_socket rw_socket_perms;
allow init oeminfo_nvm:unix_stream_socket { connectto };
allow init oeminfo_nvm_device:chr_file { getattr setattr };
allow init zram0_blkdev:blk_file rw_file_perms;
allow init cache_blkdev:blk_file { setattr };
allow init kmsg_device:chr_file rw_file_perms;
allow init properties_device:file { r_file_perms relabelto };
allow init init:process noatsecure;
#allow init shell_exec:file { execute_no_trans };
allow init cache_file:file rw_file_perms;
#allow logd cache_file:file rw_file_perms;
allow logd cache_file:file { ioctl read getattr lock };
