type kernel_devicetree, sysfs_type, file_type;

allow kernel device:dir { read write add_name create setattr getattr };
allow kernel device:blk_file create_file_perms;
allow kernel self:capability mknod;
allow kernel self:capability dac_override;
allow kernel unlabeled:file rw_file_perms;
allow kernel unlabeled:chr_file rw_file_perms;
allow kernel unlabeled:dir rw_dir_perms;
allow kernel log_device:chr_file rw_file_perms;
allow kernel device:chr_file { create setattr };
allow kernel modem_log_file:dir rw_dir_perms;
allow kernel modem_log_file:file create_file_perms;
allow kernel sysfs_devices_system_cpu:file rw_file_perms;
