allow servicemanager perfhub:dir r_dir_perms;
allow servicemanager perfhub:file r_file_perms;
allow servicemanager perfhub:process { getattr };
allow servicemanager hwcamcfgsvr:dir r_dir_perms;
allow servicemanager hwcamcfgsvr:file r_file_perms;
allow servicemanager hwcamcfgsvr:process { getattr };
allow servicemanager zygote:dir r_dir_perms;
allow servicemanager zygote:file r_file_perms;
allow servicemanager zygote:process { getattr };
allow servicemanager properties_device:file r_file_perms;
allow servicemanager kernel_devicetree:file r_file_perms;
