import /init.hisi.rc
import /init.audio.rc
import /init.device.rc
import /init.extmodem.rc
import /init.manufacture.rc
import /init.performance.rc
import /init.platform.rc
import /init.protocol.rc
import /init.connectivity.rc
import /init.${ro.boardid.product}.rc
import /init.hi6250.usb.rc
import /init.hisi.usb.rc
import /init.post-fs-data.rc
import /init.balong_modem.rc
import /init.tee.rc
import /init.charger.rc

on early-boot
    write /sys/block/dm-0/queue/read_ahead_kb 2048

    verity_update_state
    symlink /storage/self/primary /storage/sdcard0

    mkdir /mnt/media_rw 0750 media_rw media_rw
    mkdir /data/samba 0755 media_rw media_rw
    mkdir /hwvendor

on early-boot
    service hivwserver /vendor/bin/hivwserver
    class main
    user system
    group audio inet net_bt net_bt_admin net_bw_acct system

on init
    symlink /dev/block/platform/hi_mci.0 /dev/block/bootdevice
    verity_load_state

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/virtual/thermal/thermal_zone0/boost
    chmod 664 /sys/devices/virtual/thermal/thermal_zone0/boost
    chown system system /sys/devices/virtual/thermal/thermal_zone0/boost_timeout
    chmod 664 /sys/devices/virtual/thermal/thermal_zone0/boost_timeout

    chown system system /sys/class/devfreq/gpufreq/max_freq
    chmod 664 /sys/class/devfreq/gpufreq/max_freq
    chown system system /sys/class/devfreq/gpufreq/min_freq
    chmod 664 /sys/class/devfreq/gpufreq/min_freq
    chown system system /sys/class/devfreq/gpufreq/polling_interval
    chmod 664 /sys/class/devfreq/gpufreq/polling_interval
    chown system system /sys/class/devfreq/gpufreq/cur_freq
    chmod 664 /sys/class/devfreq/gpufreq/cur_freq
    chown system system /sys/class/devfreq/gpufreq/available_frequencies
    chmod 664 /sys/class/devfreq/gpufreq/available_frequencies
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/animation_boost_freq
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/hispeed_freq
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/hispeed_freq
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/vsync_upthreshold
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/vsync_upthreshold
    chown system system /sys/class/devfreq/gpufreq/mali_ondemand/no_vsync_upthreshold
    chmod 664 /sys/class/devfreq/gpufreq/mali_ondemand/no_vsync_upthreshold

    chown system system /sys/class/devfreq/ddrfreq/max_freq
    chmod 664 /sys/class/devfreq/ddrfreq/max_freq
    chown system system /sys/class/devfreq/ddrfreq/min_freq
    chmod 664 /sys/class/devfreq/ddrfreq/min_freq
    chown system system /sys/class/devfreq/ddrfreq/polling_interval
    chmod 664 /sys/class/devfreq/ddrfreq/polling_interval
    chown system system /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chmod 664 /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chown system system /sys/class/devfreq/ddrfreq/cur_freq
    chmod 664 /sys/class/devfreq/ddrfreq/cur_freq
    chown system system /sys/class/devfreq/ddrfreq/available_frequencies
    chmod 664 /sys/class/devfreq/ddrfreq/available_frequencies
    chown system system /sys/kernel/set_hmp_thresholds/policy
    chmod 0664 /sys/kernel/set_hmp_thresholds/policy

    chown system system /sys/class/thermal/thermal_zone0/mode
    chmod 0664 /sys/class/thermal/thermal_zone0/mode
    chown system system /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chmod 0664 /sys/class/thermal/thermal_zone0/trip_point_0_temp
    chown system system /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chmod 0664 /sys/class/thermal/thermal_zone0/trip_point_1_temp
    chown system system /sys/class/thermal/thermal_zone0/sustainable_power
    chmod 0664 /sys/class/thermal/thermal_zone0/sustainable_power
    chown system system /sys/kernel/hmp/task_fork_on_bigcluster
    chmod 0664 /sys/kernel/hmp/task_fork_on_bigcluster
    chown system system /sys/kernel/hmp/boost
    chmod 0664 /sys/kernel/hmp/boost
    chown system system /sys/kernel/perfhub/cpuaffinity
    chmod 0660 /sys/kernel/perfhub/cpuaffinity

    write /proc/sys/kernel/hung_task_panic 1
    write /proc/sys/kernel/hung_task_timeout_secs 90
    write /sys/kernel/hungtask/monitorlist "whitelist,system_server,surfaceflinger"
    write /sys/kernel/hungtask/enable "on"

    chown root system /sys/kernel/virt_to_phys
    chmod 0660 /sys/kernel/virt_to_phys

	chmod 0750 /sys/kernel/mntn/
	chmod 0750 /sys/kernel/mntn/switch/
	chmod 0660 /sys/kernel/mntn/switch/irq
	chmod 0660 /sys/kernel/mntn/switch/task
	chmod 0660 /sys/kernel/mntn/switch/cpuidle
	chmod 0660 /sys/kernel/mntn/switch/cpuonoff
	chmod 0660 /sys/kernel/mntn/switch/syscall
	chmod 0660 /sys/kernel/mntn/switch/hungtask
	chmod 0660 /sys/kernel/mntn/switch/tasklet
	chmod 0660 /sys/kernel/mntn/switch/worker

    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0666 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 800000
    write /dev/cpuctl/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0666 /dev/cpuctl/bg_non_interactive/tasks
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52
    write /dev/cpuctl/bg_non_interactive/cpu.rt_runtime_us 700000
    write /dev/cpuctl/bg_non_interactive/cpu.rt_period_us 1000000

    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset,cpuset_noprefix
    mount cgroup none /dev/cpuset remount cpuset,blkio,cpuset_noprefix

    mkdir /dev/cpuset/foreground
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/mems 0
    mkdir /dev/cpuset/foreground/boost
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/foreground/boost/mems 0
    mkdir /dev/cpuset/background
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/background/mems 0

    mkdir /dev/cpuset/system-background
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/system-background/mems 0

    mkdir /dev/cpuset/top-app
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/top-app/mems 0

    chown system system /dev/cpuset
    chown system system /dev/cpuset/foreground
    chown system system /dev/cpuset/foreground/boost
    chown system system /dev/cpuset/background
    chown system system /dev/cpuset/system-background
    chown system system /dev/cpuset/top-app
    chown system system /dev/cpuset/tasks
    chown system system /dev/cpuset/foreground/tasks
    chown system system /dev/cpuset/foreground/boost/tasks
    chown system system /dev/cpuset/background/tasks
    chown system system /dev/cpuset/system-background/tasks
    chown system system /dev/cpuset/top-app/tasks

    chmod 0775 /dev/cpuset/system-background

    chmod 0664 /dev/cpuset/foreground/tasks
    chmod 0664 /dev/cpuset/foreground/boost/tasks
    chmod 0664 /dev/cpuset/background/tasks
    chmod 0664 /dev/cpuset/system-background/tasks
    chmod 0664 /dev/cpuset/top-app/tasks
    chmod 0664 /dev/cpuset/tasks

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpu0/cpufreq/interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 1306000
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    write /sys/kernel/hmp/boost 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 75:807000:90:1306000:95

    chown system system /sys/kernel/debug/freqdump/loadmonitor_enable
    chmod 664 /sys/kernel/debug/freqdump/loadmonitor_enable
    chown system system /sys/kernel/debug/freqdump/loadmonitor_disable
    chmod 664 /sys/kernel/debug/freqdump/loadmonitor_disable

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor ondemand
    write /sys/devices/system/cpu/cpu4/cpufreq/ondemand/sampling_rate 20000
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 978
    write /sys/kernel/hmp/down_threshold 672
    write /sys/kernel/set_hmp_thresholds/enable 1

	rm /data/hisi_logs/reboot_times.log

on charger
    mount_all /fstab.${ro.hardware}
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    restorecon_recursive /sys/devices/system/cpu/cpu0/cpufreq/interactive
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 807000
    chown system  system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/class/android_usb/android0/switch_request
    chmod 0664 /sys/class/android_usb/android0/switch_request
    start hw_ueventd
    start oeminfo_nvm

    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor powersave
    write /sys/kernel/set_hmp_thresholds/enable 0
    write /sys/kernel/hmp/up_threshold 1020
    write /sys/kernel/hmp/down_threshold 768
    write /sys/kernel/set_hmp_thresholds/enable 1

    write /sys/class/devfreq/ddrfreq/min_freq 0
    write /sys/class/devfreq/ddrfreq/max_freq 0
    write /sys/class/devfreq/ddrfreq_latency/min_freq 0
    write /sys/class/devfreq/ddrfreq_latency/max_freq 0
    write /sys/class/devfreq/ddrfreq_up_threshold/max_freq 933000000
    write /sys/class/devfreq/ddrfreq_up_threshold/min_freq 933000000

on fs
    mkdir /patch_hw 0775 system system
    export ANDROID_STORAGE ""

    wait /dev/block/platform/hi_mci.0/by-name/system
    mount_all /fstab.${ro.hardware}
#    class_start core
#    class_start main
#    class_start late_start
    chown root root /sec_storage
    chmod 600 /sec_storage

    mount_all_patch /patch_hw/fstab.patch_step1
    restorecon /splash2
    chmod 775 /splash2
    chown root system /splash2

    mkdir /splash2/log 0775 system log
    symlink /splash2/fac_log /data/log/fac_log
    symlink /splash2 /log

    setprop ro.crypto.fuse_sdcard true


on early-boot
on boot


on post-fs-data
    mkdir /data/nfc
    chown nfc nfc /data/nfc

    mkdir /data/share 0770 media_rw media_rw
    chown media_rw media_rw /data/share


on init



on boot

        chmod  0660  /dev/fingerprint
        chown  system  system  /dev/fingerprint
        chmod  0660  /sys/devices/platform/fingerprint/irq
        chown  system  system  /sys/devices/platform/fingerprint/irq
        chown system system /sys/devices/platform/fingerprint/fingerprint_chip_info

    chown system system /sys/class/leds/torch/brightness
    chmod 664 /sys/class/leds/torch/brightness
	restorecon /sys/class/leds/torch/brightness
    chown system system /sys/class/leds/torch/flash_thermal_protect
    chmod 664 /sys/class/leds/torch/flash_thermal_protect

    chown system system /sys/class/camerafs/node/flash_lightness
    chmod 664 /sys/class/camerafs/node/flash_lightness

    chown root radio /sys/kernel/sim/sim0_hotplug_state
    chown root radio /sys/kernel/sim/sim1_hotplug_state

    write /splash2/sim/sim_pin_file.bin  "000000"
    chown system system /sys/class/leds/lcd_backlight0/brightness
    chmod 644 /sys/class/leds/lcd_backlight0/brightness

    chmod 755 /system/bin/busybox


	chown system system /dev/sensorhub
	chmod 0660 /dev/sensorhub
	chown system system /dev/motionhub
	chmod 0660 /dev/motionhub
	chown system system /sys/devices/platform/huawei_sensor/acc_info
	chown system system /sys/devices/platform/huawei_sensor/mag_info
	chown system system /sys/devices/platform/huawei_sensor/gyro_info
	chown system system /sys/devices/platform/huawei_sensor/als_info
	chown system system /sys/devices/platform/huawei_sensor/ps_info
	chown system system /sys/devices/platform/huawei_sensor/gyro_selfTest
	chown system system /sys/devices/platform/huawei_sensor/mag_selfTest
	chown system system /sys/devices/platform/huawei_sensor/acc_calibrate
	chown system system /sys/devices/platform/huawei_sensor/acc_enable
	chown system system /sys/devices/platform/huawei_sensor/acc_setdelay
	chown system system /sys/devices/platform/huawei_sensor/acc_selfTest
	chown system system /sys/devices/platform/huawei_sensor/mag_enable
	chown system system /sys/devices/platform/huawei_sensor/mag_setdelay
	chown system system /sys/devices/platform/huawei_sensor/gyro_calibrate
	chown system system /sys/devices/platform/huawei_sensor/gyro_enable
	chown system system /sys/devices/platform/huawei_sensor/gyro_setdelay
	chown system system /sys/devices/platform/huawei_sensor/als_calibrate
	chown system system /sys/devices/platform/huawei_sensor/als_enable
	chown system system /sys/devices/platform/huawei_sensor/als_setdelay
	chown system system /sys/devices/platform/huawei_sensor/sbl_enable
	chown system system /sys/devices/platform/huawei_sensor/sbl_setdelay
	chown system system /sys/devices/platform/huawei_sensor/sbl_setbacklight
	chown system system /sys/devices/platform/huawei_sensor/ps_calibrate
	chown system system /sys/devices/platform/huawei_sensor/ps_enable
	chown system system /sys/devices/platform/huawei_sensor/ps_setdelay
	chown system system /sys/devices/platform/huawei_sensor/os_enable
	chown system system /sys/devices/platform/huawei_sensor/os_setdelay
	chown system system /sys/devices/platform/huawei_sensor/lines_enable
	chown system system /sys/devices/platform/huawei_sensor/lines_setdelay
	chown system system /sys/devices/platform/huawei_sensor/gras_enable
	chown system system /sys/devices/platform/huawei_sensor/gras_setdelay
	chown system system /sys/devices/platform/huawei_sensor/rvs_enable
	chown system system /sys/devices/platform/huawei_sensor/rvs_setdelay
	chown system system /sys/devices/platform/huawei_sensor/i2c_rw
	chown system system /sys/devices/platform/huawei_sensor/dt_motion_stup
	chown system system /sys/devices/platform/huawei_sensor/dt_sensor_stup
	chown system system /sys/devices/platform/huawei_sensor/dt_stop_auto_data
	chown system system /sys/devices/platform/huawei_sensor/airpress_enable
	chown system system /sys/devices/platform/huawei_sensor/airpress_setdelay
	chown system system /sys/devices/platform/huawei_sensor/airpress_info
	chown system system /sys/devices/platform/huawei_sensor/airpress_set_calidata
	chown system system /sys/devices/platform/huawei_sensor/dt_stepcounter_stup
	chown system system /sys/devices/platform/huawei_sensor/handpress_enable
	chown system system /sys/devices/platform/huawei_sensor/handpress_info
	chown system system /sys/devices/platform/huawei_sensor/handpress_read_data
	chown system system /sys/devices/platform/huawei_sensor/handpress_setdelay
	chown system system /sys/devices/platform/huawei_sensor/read_airpress
	chown system system /sys/devices/platform/huawei_sensor/read_temperature
	chown system system /sys/devices/platform/huawei_sensor/ois_ctrl

	chown system system /sys/devices/platform/huawei_sensor/hifi_supported
	chown system system /sys/class/sensors/acc_sensorlist_info
	chown system system /sys/class/sensors/mag_sensorlist_info
	chown system system /sys/class/sensors/gyro_sensorlist_info
	chown system system /sys/class/sensors/ps_sensorlist_info
	chown system system /sys/class/sensors/als_sensorlist_info
	chown system system /sys/class/sensors/airpress_sensorlist_info
	chown system system /sys/class/sensors/airpress_sensorlist_info

	chown system system /sys/class/sensors/sensorhub_dbg
	chown system system /sys/class/sensors/acc_sensor/enable
	chown system system /sys/class/sensors/acc_sensor/set_delay
	chown system system /sys/class/sensors/acc_sensor/info
	chown system system /sys/class/sensors/acc_sensor/get_data
	chown system system /sys/class/sensors/acc_sensor/self_test
	chown system system /sys/class/sensors/acc_sensor/self_test_timeout
	chown system system /sys/class/sensors/acc_sensor/calibrate
	chown system system /sys/class/sensors/acc_sensor/calibrate_timeout
	chown system system /sys/class/sensors/gyro_sensor/enable
	chown system system /sys/class/sensors/gyro_sensor/set_delay
	chown system system /sys/class/sensors/gyro_sensor/info
	chown system system /sys/class/sensors/gyro_sensor/get_data
	chown system system /sys/class/sensors/gyro_sensor/self_test
	chown system system /sys/class/sensors/gyro_sensor/self_test_timeout
	chown system system /sys/class/sensors/gyro_sensor/calibrate
	chown system system /sys/class/sensors/gyro_sensor/calibrate_timeout
	chown system system /sys/class/sensors/mag_sensor/enable
	chown system system /sys/class/sensors/mag_sensor/set_delay
	chown system system /sys/class/sensors/mag_sensor/info
	chown system system /sys/class/sensors/mag_sensor/get_data
	chown system system /sys/class/sensors/mag_sensor/self_test
	chown system system /sys/class/sensors/mag_sensor/self_test_timeout
	chown system system /sys/class/sensors/mag_sensor/calibrate_method
	chown system system /sys/class/sensors/als_sensor/enable
	chown system system /sys/class/sensors/als_sensor/set_delay
	chown system system /sys/class/sensors/als_sensor/info
	chown system system /sys/class/sensors/als_sensor/get_data
	chown system system /sys/class/sensors/ps_sensor/enable
	chown system system /sys/class/sensors/ps_sensor/set_delay
	chown system system /sys/class/sensors/ps_sensor/info
	chown system system /sys/class/sensors/ps_sensor/get_data
	chown system system /sys/class/sensors/ps_sensor/calibrate
	chown system system /sys/class/sensors/ps_sensor/calibrate_timeout
	chown system system /sys/class/sensors/hall_sensor/enable
	chown system system /sys/class/sensors/hall_sensor/set_delay
	chown system system /sys/class/sensors/hall_sensor/info
	chown system system /sys/class/sensors/hall_sensor/get_data
	chown system system /sys/class/sensors/airpress_sensor/enable
	chown system system /sys/class/sensors/airpress_sensor/set_delay
	chown system system /sys/class/sensors/airpress_sensor/info
	chown system system /sys/class/sensors/airpress_sensor/get_data
	chown system system /sys/class/sensors/airpress_sensor/read_airpress
	chown system system /sys/class/sensors/airpress_sensor/set_calidata
	chown system system /sys/class/sensors/cap_prox_sensor/calibrate
	chown system system /sys/class/sensors/cap_prox_sensor/calibrate_timeout
	chown system system sys/class/sensors/cap_prox_sensor/cap_prox_calibrate_type
	chown system system sys/class/sensors/cap_prox_sensor/cap_prox_calibrate_order

    chown system system /sys/devices/platform/huawei_sensorhub_logbuff/logbuff_config
    chmod 660 /sys/devices/platform/huawei_sensorhub_logbuff/logbuff_config
    chown system system /sys/devices/platform/huawei_sensorhub_logbuff/logbuff_flush
    chmod 444 /sys/devices/platform/huawei_sensorhub_logbuff/logbuff_flush
	chown system system /sys/class/sensors/libsensor_ver

    chown system system /sys/devices/platform/huawei_sensor/set_fingersense_enable
    chmod 0660 /sys/devices/platform/huawei_sensor/set_fingersense_enable
    chown system system /sys/devices/platform/huawei_sensor/fingersense_req_data
    chmod 0660 /sys/devices/platform/huawei_sensor/fingersense_req_data
    chown system system /sys/devices/platform/huawei_sensor/fingersense_data_ready
    chmod 0440 /sys/devices/platform/huawei_sensor/fingersense_data_ready
    chown system system /sys/devices/platform/huawei_sensor/fingersense_latch_data
    chmod 0440 /sys/devices/platform/huawei_sensor/fingersense_latch_data
    chown nfc nfc /sys/nfc/nfc_wired_ese_type
    chmod 0444 /sys/nfc/nfc_wired_ese_type
    chown nfc nfc /sys/nfc/nfc_activated_se_info
    chmod 0664 /sys/nfc/nfc_activated_se_info
    chown nfc nfc /sys/nfc/nfc_hal_dmd
    chmod 0664 /sys/nfc/nfc_hal_dmd
    chown nfc nfc /sys/nfc/nfc_calibration
    chmod 0444 /sys/nfc/nfc_calibration

    chmod 660 /proc/hifidsp/hifi
    chown root audio /proc/hifidsp/hifi
    chmod 660 /proc/hifidsp/hifi_pcm_read
    chown root audio /proc/hifidsp/hifi_pcm_read

    write /proc/sys/net/core/rps_sock_flow_entries 0
    write /sys/class/net/rmnet0/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus e
    write /sys/class/net/rmnet1/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus e
    write /sys/class/net/rmnet2/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus e
    write /sys/class/net/rmnet3/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus e
    write /sys/class/net/rmnet4/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus e
    write /sys/class/net/rmnet_ims/queues/rx-0/rps_flow_cnt 0
    write /sys/class/net/rmnet_ims/queues/rx-0/rps_cpus e

    write /proc/sys/net/core/netdev_max_backlog 2000
    write /proc/sys/net/netfilter/nf_conntrack_checksum 0

	chown nfc nfc /sys/nfc/nfc_fwupdate
	chmod 0664 /sys/nfc/nfc_fwupdate
	chown nfc nfc /sys/nfc/nxp_config_name
	chmod 0664 /sys/nfc/nxp_config_name
	chown nfc nfc /sys/nfc/nfc_brcm_conf_name
	chmod 0664 /sys/nfc/nfc_brcm_conf_name
	chown nfc nfc /sys/nfc/nfc_sim_switch
	chmod 0664 /sys/nfc/nfc_sim_switch
	chown nfc nfc /sys/nfc/nfc_sim_status
	chmod 0444 /sys/nfc/nfc_sim_status
	chown nfc nfc /sys/nfc/rd_nfc_sim_status
	chmod 0444 /sys/nfc/rd_nfc_sim_status
	chown nfc nfc /sys/nfc/nfc_enable_status
	chmod 0664 /sys/nfc/nfc_enable_status
	chown nfc nfc /sys/nfc/nfc_card_num
	chmod 0444 /sys/nfc/nfc_card_num
	chown nfc nfc /sys/nfc/nfc_chip_type
	chmod 0444 /sys/nfc/nfc_chip_type
	chown nfc nfc /sys/nfc/nfc_fw_version
	chmod 0444 /sys/nfc/nfc_fw_version
	chown nfc nfc /sys/nfc/nfcservice_lock
	chmod 0664 /sys/nfc/nfcservice_lock
	chown nfc nfc /sys/nfc/nfc_svdd_sw
	chmod 0664 /sys/nfc/nfc_svdd_sw
	chown nfc nfc /sys/nfc/nfc_close_type
	chmod 0664 /sys/nfc/nfc_close_type
	chown nfc nfc /sys/nfc/nfc_single_channel
	chmod 0444 /sys/nfc/nfc_single_channel
	chown system nfc /sys/nfc/nfc_age_test_flag_state
	chmod 0640 /sys/nfc/nfc_age_test_flag_state
	chown nfc nfc /sys/nfc/nfc_wired_ese_type
	chmod 0444 /sys/nfc/nfc_wired_ese_type
	chown nfc nfc /sys/nfc/nfc_activated_se_info
	chmod 0664 /sys/nfc/nfc_activated_se_info

        chown nfc nfc /dev/pn544
        chmod 0664 /dev/pn544


    chown system system /sys/class/camerafs/node/thermal_meter
    chmod 664 /sys/class/camerafs/node/thermal_meter

    chown system system /sys/kernel/rcc/enable
    chown system system /sys/kernel/rcc/event
    chown system system /sys/kernel/rcc/idle_threshold
    chown system system /sys/kernel/rcc/swap_pecent_low
    chown system system /sys/kernel/rcc/free_size_min
    chown system system /sys/kernel/rcc/full_clean_size
    chown system system /sys/kernel/rcc/stat

on post-fs-data
    mkdir /splash2/sim 0775 root system
    mkdir /splash2/sim/offlinelogs 0775 root system
    write /splash2/sim/offlinelogs/balong_modem1_simoffline.txt  0
    write /splash2/sim/offlinelogs/balong_modem2_simoffline.txt  0
    write /splash2/sim/offlinelogs/balong_modem3_simoffline.txt  0
    write /splash2/sim/offlinelogs/slot1_simoffline.txt  0
    write /splash2/sim/sim_pin_file.bin  ""

    chmod 0664 /splash2/sim/offlinelogs/balong_modem1_simoffline.txt
    chmod 0664 /splash2/sim/offlinelogs/balong_modem2_simoffline.txt
    chmod 0664 /splash2/sim/offlinelogs/balong_modem3_simoffline.txt
    chmod 0664 /splash2/sim/offlinelogs/slot1_simoffline.txt
    chmod 0660 /splash2/sim/sim_pin_file.bin

    chown radio system /splash2/sim/offlinelogs/balong_modem1_simoffline.txt
    chown radio system /splash2/sim/offlinelogs/balong_modem2_simoffline.txt
    chown radio system /splash2/sim/offlinelogs/balong_modem3_simoffline.txt
    chown radio system /splash2/sim/offlinelogs/slot1_simoffline.txt
    chown root  radio  /splash2/sim/sim_pin_file.bin

    symlink /splash2/sim/offlinelogs /data/offlinelogs
    setprop camera.dis.flag 2
    setprop camera.drop.buffer 1

    mkdir /data/camera
    chown system camera /data/camera
    chmod 771 /data/camera
    chmod 664 /data/camera/hisi_sensor0
    chmod 664 /data/camera/hisi_sensor1
    mkdir /data/img
    chown system camera /data/img
    chmod 770 /data/img

    mkdir /data/media 0770 media_rw media_rw

    service shlogd /system/vendor/bin/shs
    class late_start
    user root
    group system
    disabled

    service shex /system/vendor/bin/shex -p
    user root
    group system
    disabled
    oneshot
    on property:sys.shlogd=0
    stop shlogd
    on property:sys.shlogd=1
    start shlogd

service perfhub /system/vendor/bin/perfhub
    class core
    user system
    group system

service goldeneye /system/bin/goldeneye
    class main
    user root
    group root

service defragd /system/vendor/bin/defragd
    class late_start

on property:init.svc.zygote=stopped
    stop defragd

on property:init.svc.zygote=running && property:sys.userdata_is_ready=1
    start defragd

on property:sys.userdata_is_ready=1
    exec u:r:blkcginit:s0 root root -- /system/bin/sh /vendor/etc/blkcg_init.sh 0 0

on property:service.bootanim.exit=1
    write /sys/class/devfreq/ddrfreq/max_freq 933000000
    write /sys/class/devfreq/ddrfreq/min_freq 933000000
    write /sys/class/devfreq/ddrfreq/min_freq 0
    write /sys/class/devfreq/ddrfreq/max_freq 0

    write /sys/class/devfreq/ddrfreq_latency/min_freq 0
    write /sys/class/devfreq/ddrfreq_latency/max_freq 0

    write /sys/class/devfreq/ddrfreq_up_threshold/max_freq 933000000
    write /sys/class/devfreq/ddrfreq_up_threshold/min_freq 933000000

    write /proc/balong/stats/boot_time 1

on property:ro.boot.ddrsize=2
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/max_comp_streams 8
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.zram1280m

on property:ro.boot.ddrsize=3
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/max_comp_streams 8
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.zram1536m

on property:ro.boot.ddrsize=4
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/max_comp_streams 8
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.zram1536m
    write /sys/kernel/mm/ksm/run 2

on property:ro.boot.ddrsize=6
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.zram1536m
    write /sys/kernel/mm/ksm/run 2

on property:ro.build.hw_emui_lite.enable=true
    write /sys/kernel/rcc/event PASSIVE_MODE
    write /sys/kernel/rcc/enable 1

on property:ro.config.enable_rcc=true
    write /proc/sys/vm/page-cluster 0
    write /sys/kernel/rcc/enable 1

    exec /system/bin/swapoff /dev/block/zram0
    write /sys/block/zram0/reset 1
    write /sys/block/zram0/comp_algorithm lz4
    swapon_all fstab.zram512m


on property:persist.sys.huawei.debug.on=0
    chown system system /sys/class/sensors/sensorhub_dump
    chmod 0660 /sys/class/sensors/sensorhub_dump
on property:persist.sys.huawei.debug.on=1
    chown system system /sys/class/sensors/sensorhub_dump
    chmod 0664 /sys/class/sensors/sensorhub_dump
chown system audio /dev/voice_proxy_vowifi
chmod 0660 /dev/voice_proxy_vowifi

service bugreport /system/bin/dumpstate -d -p -B -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input
