 early-init

on init

    mkdir /dev/frz
    mount cgroup none /dev/frz freezer

    chmod 0660 /dev/hwlog_switch
    chown logd system /dev/hwlog_switch


    mount tmpfs none /sys/fs/cgroup mode=0750,uid=0,gid=1000
    mkdir /sys/fs/cgroup/pids 0750 root system
    mount cgroup none /sys/fs/cgroup/pids pids
    mkdir /sys/fs/cgroup/pids/unconfirm_app 0750 root system
    chown root system /sys/fs/cgroup/pids/unconfirm_app/cgroup.procs
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/cgroup.procs
    chown root system /sys/fs/cgroup/pids/unconfirm_app/tasks
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/tasks
    chown root system /sys/fs/cgroup/pids/unconfirm_app/pids.group_limit
    chmod 0660 /sys/fs/cgroup/pids/unconfirm_app/pids.group_limit
    chown root system /sys/fs/cgroup/pids/unconfirm_app/cgroup.event_control
    chmod 0220 /sys/fs/cgroup/pids/unconfirm_app/cgroup.event_control
    chmod 0220 /sys/fs/cgroup/pids/cgroup.event_control

on early-fs

on fs
    restorecon       /sys/class/graphics/fb0/lcd_cabc_mode
    restorecon       /sys/class/leds/torch/flash_thermal_protect

on post-fs
    sys_wp_init_action

#on charger
#    class_start core

on post-fs-data

    mkdir /data/hwzd_logs
    chmod 0775 /data/hwzd_logs
    chown system system /data/hwzd_logs
    restorecon_recursive /data/hwzd_logs

    mkdir /data/log
    chmod 0775 /data/log
    chown system system /data/log
    restorecon_recursive /data/log

    mkdir /data/hisi_logs
    chmod 0770 /data/hisi_logs
    chown root system /data/hisi_logs
    restorecon_recursive /data/hisi_logs

    mkdir /data/log/press10
    chmod 0770 /data/log/press10
    chown system system /data/log/press10
    restorecon_recursive /data/log/press10

    mkdir /data/log/isp-log
    chmod 0774 /data/log/isp-log
    chown system system /data/log/isp-log
    restorecon_recursive /data/log/isp-log

    mkdir /data/apkpush
    chmod 0770 /data/apkpush
    chown system cache /data/apkpush
    restorecon_recursive /data/apkpush

    mkdir /data/misc/hsm
    chmod 0770 /data/misc/hsm
    chown system system /data/misc/hsm
    restorecon_recursive /data/misc/hsm

    mkdir /data/cota
    chmod 0775 /data/cota
    chown system system /data/cota
    restorecon_recursive /data/cota

    mkdir /data/cota/cloud
    chmod 0770 /data/cota/cloud
    chown system system /data/cota/cloud
    restorecon_recursive /data/cota/cloud
    
    mkdir /data/misc/hwpush
    chmod 0770 /data/misc/hwpush
    chown system system /data/misc/hwpush
    restorecon_recursive /data/misc/hwpush
    
    chown root system /sys/kernel/exmbist_test/test_entry
    chmod 0664 /sys/kernel/exmbist_test/test_entry

    chown root system /sys/kernel/exmbist_test/test_entry
    chmod 0664 /sys/kernel/exmbist_test/test_result

    mkdir /data/misc/oma
    chmod 0770 /data/misc/oma
    chown system system /data/misc/oma
    restorecon_recursive /data/misc/oma

	mkdir /splash2/boot_fail
	chmod 0775 /splash2/boot_fail
	chown root system /splash2/boot_fail
	restorecon_recursive /splash2/boot_fail

on early-boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=0775,gid=1000

on boot
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag
    chmod 0662 /dev/hwlog_jank
    chown root system /dev/hwlog_jank
    chmod 0662 /dev/hwlog_bdat
    chmod 0660 /dev/hwlog_ptm
    chown root system /dev/hwlog_ptm

    chmod 0660 /dev/bdat

    chmod 0660 /sys/class/hw_power/charger/charge_data/adc_conv_rate
    chown system system /sys/class/hw_power/charger/charge_data/adc_conv_rate
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_charger
    chown system system /sys/class/hw_power/charger/charge_data/enable_charger
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chown system system /sys/class/hw_power/charger/charge_data/iin_thermal_aux
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_thermal
    chown system system /sys/class/hw_power/charger/charge_data/ichg_thermal
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_thermal_aux
    chown system system /sys/class/hw_power/charger/charge_data/ichg_thermal_aux
    chmod 0660 /sys/class/hw_power/charger/charge_data/regulation_voltage
    chown system system /sys/class/hw_power/charger/charge_data/regulation_voltage
    chmod 0660 /sys/class/hw_power/charger/charge_data/iin_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/iin_runningtest
    chmod 0660 /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hw_power/charger/charge_data/ichg_runningtest
    chown system system /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hisi_usb_class/hisi_usb_dev/interface/release_wakelock
    chmod 0660 /sys/class/hw_power/charger/charge_data/enable_hiz
    chown system system /sys/class/hw_power/charger/charge_data/enable_hiz
    chmod 0660 /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chown system system /sys/class/hw_power/charger/charge_data/shutdown_watchdog
    chmod 0660 /sys/class/hw_power/charger/charge_data/inputcurrent
    chown system system /sys/class/hw_power/charger/charge_data/inputcurrent
    chmod 0660 /sys/class/hw_power/charger/charge_data/voltage_sys
    chown system system /sys/class/hw_power/charger/charge_data/voltage_sys
    chmod 0660 /sys/class/hw_power/charger/charge_data/vr_charger_type
    chown system system /sys/class/hw_power/charger/charge_data/vr_charger_type
    chmod 0660 /sys/class/hw_power/charger/direct_charger/enable_charger
    chown system system /sys/class/hw_power/charger/direct_charger/enable_charger
    chmod 0660 /sys/class/hw_power/charger/direct_charger/iin_thermal
    chown system system /sys/class/hw_power/charger/direct_charger/iin_thermal
    chmod 0660 /sys/class/hw_power/coul/coul_data/cali_adc
    chown system system /sys/class/hw_power/coul/coul_data/cali_adc
    chmod 0660 /sys/class/misc/hw_bfm/bfm_ctl
    chown system system /sys/class/misc/hw_bfm/bfm_ctl
    chown system system /dev/hw_bfm
    chmod 0660 /dev/hw_bfm
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/msg_policy
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/msg_policy

on property:sys.printservice=*
    printservice ${sys.printservice}
    
on restart-sdcardfs
    mkdir /data/media 0770 media_rw media_rw    
    chown media_rw media_rw /data/media
    mount sdcardfs /data/media /mnt/shell/emulated nosuid nodev derive=legacy,reserved_mb=20
    
on property:vold.decrypt=trigger_reset_main
    class_reset main
    class_reset late_start
    setprop vold.crypto_support_innersd 1
    
on property:vold.decrypt=trigger_restart_min_framework
    trigger restart-sdcardfs
    trigger start_main_class
    
on property:vold.decrypt=trigger_restart_framework
    trigger restart-sdcardfs
    trigger start_main_class
    trigger start_latestart_class
    trigger start_other_action
    trigger data_ready

on property:vold.decrypt=trigger_default_encryption
    start surfaceflinger
    start defaultcrypto

on property:vold.decrypt=trigger_shutdown_framework
    trigger data_not_ready
on start_main_class
    class_start main

on start_latestart_class
    class_start late_start

on start_other_action
    exec /system/bin/start_110x_service.sh

on nonencrypted
    trigger start_latestart_class
    trigger data_ready

on verify_cust_oeminfo_action
    verify_cust_oeminfo

on data_ready
    verify_cust_oeminfo
    setprop sys.userdata_is_ready 1
    write /proc/post-fs-data 1
    write /proc/apanic_console 1
    setprop sys.usb.start_atdiag ${sys.usb.start_atdiag}
    setprop sys.usb.start_modempcui ${sys.usb.start_modempcui}

on data_not_ready
    setprop sys.userdata_is_ready 0
    write /proc/post-fs-data 0

service fuse_sdcard1rw /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

   service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

   service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1015 -d /mnt/media_rw/usbotg /storage/usbotg
   class late_start
   disabled

service preparesdservice /system/bin/vdc volume storagetosd
   class main
   disabled
   oneshot

on property:persist.sys.primarysd=*
   start preparesdservice

service hiscoutmanager /system/vendor/bin/hiscoutmanager
    class late_start
    user root
    group system
    oneshot
    seclabel u:r:hiscoutmanager:s0
	
service iked /system/vendor/bin/iked
    class late_start
    user root
	disabled
    group system
    seclabel u:r:iked:s0
	
on property:ro.config.hw_vowifi=true
    start iked

service mini_bugreport /system/bin/dumpstate -m -v \
        -o /data/log/press10/mini_bugreport
    user root
    group system
    oneshot
    disabled
    keycodes 116 193
